<!--Make a two column layout-->
<div class="alignment"  style="background-color:#f7f8fb;">
    <div class="row">
        <div class="column">
    <img src="assets/sidebgone.jpg" width="700" height="400">
    </div>


    <div class="column">
    
    <p class="bottom-line">Lorem ipsum dolor</p>
    <p class="subline">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
</div>
</div>

<!--Make a two column layout-->
<div class="column">
    
    <p class="bottom-line">Lorem ipsum dolor</p>
    <p class="subline">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
</div>

<div class="row">
    <div class="column">
<img src="assets/sidebgtwo.jpg" width="700" height="400">
</div>
</div>