<div class="header">
   
    <p class="head">CRIOS </p>
    
    <i class="fa fa-bars bar " ></i>
    <i class="fa fa-search search " ></i>
    <img src="assets/Photobg.png" class="image" >
    <p class="heading">Simple PSD template with cool stuff</p>
    <p class="top-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <button class="centered">Explore Template</button>
    
        <p class="bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p class="bottom-line">Lorem ipsum dolor sit amet</p>
    
</div>

