
<div class="container">
    
    <img src="assets/john.jpg" class="image" >


    <div class="top-right">    
        <p class="bottom-line">Template is awesome</p>
        <p class="subline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>

        <p class="sublineone">John Doe</p>
        <p class="sublinetwo">CEO at crios.com</p>
    </div>

</div>
    <!-- <div class="column">
        
        <p class="bottom-line">Lorem ipsum dolor</p>
        <p class="subline">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
    </div> -->
    <!-- <div>
        <p>John Doe</p>
        <p>CEO at crios.com</p>
    </div> -->
